bin/
obj/
build/
xmr-stak-cpu.layout
xmr-stak-cpu.depend
config-debug.txt

# netbeans project files
/nbproject/

# tmp files
*~

# merge original backup files
*.orig

# KDevelop files
.kdev4/
xmr-stak.kdev4
*.ipch
.vs/xmrstak/v15/.suo
.vs/xmrstak/v15/Browse.VC.db
.vs/xmrstak/v15/Browse.VC.opendb
.vs/slnx.sqlite
.vs/ProjectSettings.json
xmrstak.sln
xmrstak.vcxproj
xmrstak.vcxproj.filters
.vs/VSWorkspaceState.json
.vs/xmr-stak/v15/.suo
.vs/xmr-stak/v15/Browse.VC.db
.vs/xmr-stak/v15/Browse.VC.opendb
local/*
build-debug.bat
build.bat
